.subContainer {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px 5px 0 0;
    margin: 5%;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.subTitleBar {
    margin: 5%;
    display: flex;
    justify-content: center;

    background-color: #eaeaea;

    -webkit-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
}

.subContainerTitle {
    color: red;
    font-size: 80px;
    text-shadow: 4px 3px 9px gray;
}

.subUpdater {
    color: red;
    font-size: 80px;
}

.subUpdaterBtn {
    margin: 25px;
    margin-left: 55px;
    background-color: red;
    border: 1px solid gray;
    color: white;
    border-radius: 11%;
    box-sizing: border-box;
    height: 50px;
    width: 125px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.subUpdaterBtn:active {
    background-color: #cc0000;
}

.subUpdaterBtnTxt {
    position: relative;
    top: 20%;
    width: 100%;
    transform: translateY(-50%);
}

.subCarousel {
    margin: auto;
}

.subsWrapper {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 1%;
    grid-column-gap: 2%;
}

.pageBtn {
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 50%;
    box-sizing: border-box;
    height: 125px;
    width: 125px;
    text-align: center;
    background-color: whitesmoke;
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.pageBtnTxt {
    text-shadow: -2px -1px 0 gray;
    position: relative;
    top: 20%;
    width: 100%;
    transform: translateY(-115%);
    font-size: 140px;
    font-weight: bolder;
    margin-left: 5px;
}

.pageBtnTxt:active {
    text-shadow: -2px -1px 0 whitesmoke;
}

.pageBtn:active {
    background-color: gray;
}

#back {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#next {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

.subTitle {
    margin: auto;
}

.singleSubContainer {
    margin: auto;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: #eaeaea;

    -webkit-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
}

.subImg {
    padding-top: 25px;
}

.filterWrapper {
    margin: 5%;
    display: flex;
    justify-content: center;
    color: red;
    font-size: 28px;
    text-shadow: 4px 3px 9px gray;
}

.filterSearch {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 500px;
    padding: 5px;
    font-size: 24px;
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
    background-color: whitesmoke;
}